body {
  font-family: 'Arimo', sans-serif; }

main {
  width: 672px;
  margin: 0 auto; }
  main h1 {
    text-align: center; }
  main .contact-information {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; }
    main .contact-information li {
      margin-right: 1em; }
  main .flexSection {
    display: flex; }
    main .flexSection h3, main .flexSection p {
      margin: 10px 0; }
    main .flexSection h3 {
      flex: 0.4; }
    main .flexSection p {
      flex: 1; }
    main .flexSection:first-of-type p, main .flexSection:first-of-type h3 {
      margin-top: 0; }
  main .flexSeparated {
    display: flex; }
    main .flexSeparated *:first-child {
      margin-right: auto; }
    main .flexSeparated *:nth-child(2) {
      font-style: oblique; }
